## Data from World Happiness Report

The World Happiness Report is an annual publication of the United Nations Sustainable Development Solutions Network. It contains articles, and rankings of national happiness based on respondent ratings of their own lives, which the report also correlates with various life factors.

In this notebook we will explore the happiness of different countries and the features associated.
The datasets that we will use are available in *Data*: **happiness2020.pkl** and **countries_info.csv**.

Although the features are self-explanatory, here a summary: 

**happiness2020.pkl**
* country: *Name of the country*
* happiness_score: *Happiness score*
* social_support: *Social support (mitigation the effects of inequality)*
* healthy_life_expectancy: *Healthy Life Expectancy*
* freedom_of_choices: *Freedom to make life choices*
* generosity: *Generosity (charity, volunteers)*
* perception_of_corruption: *Corruption Perception*
* world_region: *Area of the world of the country*

**countries_info.csv**
* country_name: *Name of the country*
* area: *Area in sq mi*
* population: *Number of people*
* literacy: *Literacy percentage*

In [1]:
!head Data/countries_info.csv

'head' n'est pas reconnu en tant que commande interne
ou externe, un programme exâ€šcutable ou un fichier de commandes.

In [2]:
import pandas as pd
%matplotlib inline

DATA_FOLDER = 'Data/'

HAPPINESS_DATASET = DATA_FOLDER+"happiness2020.csv"
COUNTRIES_DATASET = DATA_FOLDER+"countries_info.csv"

## Task 1: Load the data

Load the 2 datasets in Pandas dataframes (called *happiness* and *countries*), and show the first rows.


**Hint**: Use the correct reader and verify the data has the expected format.

In [3]:
# Write your code here
happiness = pd.read_csv(HAPPINESS_DATASET, sep = ',')
countries = pd.read_csv(COUNTRIES_DATASET, sep = ',')

happiness.head()

,country,happiness_score,social_support,healthy_life_expectancy,freedom_of_choices,generosity,perception_of_corruption,world_region
0,Afghanistan,2.5669,0.470367,52.590000,0.396573,-0.096429,0.933687,South Asia
1,Albania,4.8827,0.671070,68.708138,0.781994,-0.042309,0.896304,Central and Eastern Europe
2,Algeria,5.0051,0.803385,65.905174,0.466611,-0.121105,0.735485,Middle East and North Africa
3,Argentina,5.9747,0.900568,68.803802,0.831132,-0.194914,0.842010,Latin America and Caribbean
4,Armenia,4.6768,0.757479,66.750656,0.712018,-0.138780,0.773545,Commonwealth of Independent States

In [4]:
countries.head()

  country_name     area  population literacy
0  afghanistan   647500    31056997     36,0
1      albania    28748     3581655     86,5
2      algeria  2381740    32930091     70,0
3    argentina  2766890    39921833     97,1
4      armenia    29800     2976372     98,6

In [5]:
happiness.index
countries.index
happiness.dtypes
countries.dtypes
countries['country_name']
happiness['country']

0      Afghanistan
1          Albania
2          Algeria
3        Argentina
4          Armenia
          ...
130      Venezuela
131        Vietnam
132          Yemen
133         Zambia
134       Zimbabwe
Name: country, Length: 135, dtype: object

## Task 2: Let's merge the data

Create a dataframe called *country_features* by merging *happiness* and *countries*. A row of this dataframe must describe all the features that we have about a country.

**Hint**: Verify to have all the rows in the final dataframe

In [6]:
# Write your code here
happiness['id'] = happiness['country'].str.lower()
happiness.head()

,country,happiness_score,social_support,healthy_life_expectancy,freedom_of_choices,generosity,perception_of_corruption,world_region,id
0,Afghanistan,2.5669,0.470367,52.590000,0.396573,-0.096429,0.933687,South Asia,afghanistan
1,Albania,4.8827,0.671070,68.708138,0.781994,-0.042309,0.896304,Central and Eastern Europe,albania
2,Algeria,5.0051,0.803385,65.905174,0.466611,-0.121105,0.735485,Middle East and North Africa,algeria
3,Argentina,5.9747,0.900568,68.803802,0.831132,-0.194914,0.842010,Latin America and Caribbean,argentina
4,Armenia,4.6768,0.757479,66.750656,0.712018,-0.138780,0.773545,Commonwealth of Independent States,armenia

In [7]:
country_features = pd.merge(countries, happiness, left_on = 'country_name', right_on = 'id')
country_features.head()
country_features.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            125, 126, 127, 128, 129, 130, 131, 132, 133, 134],
           dtype='int64', length=135)

## Task 3: Where do people are happier?

Print the top 10 countries based on their happiness score (high is better).

In [22]:
# Write your code here
country_features.index = country_features['country']
top_10_countries = country_features.sort_values(ascending=False, by=['happiness_score']).head(10)
top_10_countries

,country_name,area,population,literacy,country,happiness_score,social_support,healthy_life_expectancy,freedom_of_choices,generosity,perception_of_corruption,world_region,id
country,,,,,,,,,,,,,
Finland,finland,338145,5231372,"100,0",Finland,7.8087,0.954330,71.900825,0.949172,-0.059482,0.195445,Western Europe,finland
Denmark,denmark,43094,5450661,"100,0",Denmark,7.6456,0.955991,72.402504,0.951444,0.066202,0.168489,Western Europe,denmark
Switzerland,switzerland,41290,7523934,"99,0",Switzerland,7.5599,0.942847,74.102448,0.921337,0.105911,0.303728,Western Europe,switzerland
Iceland,iceland,103000,299388,"99,9",Iceland,7.5045,0.974670,73.000000,0.948892,0.246944,0.711710,Western Europe,iceland
Norway,norway,323802,4610820,"100,0",Norway,7.4880,0.952487,73.200783,0.955750,0.134533,0.263218,Western Europe,norway
Netherlands,netherlands,41526,16491461,"99,0",Netherlands,7.4489,0.939139,72.300919,0.908548,0.207612,0.364717,Western Europe,netherlands
Sweden,sweden,449964,9016596,"99,0",Sweden,7.3535,0.926311,72.600769,0.939144,0.111615,0.250880,Western Europe,sweden
New Zealand,new zealand,268680,4076140,"99,0",New Zealand,7.2996,0.949119,73.202629,0.936217,0.191598,0.221139,North America and ANZ,new zealand
Austria,austria,83870,8192880,"98,0",Austria,7.2942,0.928046,73.002502,0.899989,0.085429,0.499955,Western Europe,austria
Luxembourg,luxembourg,2586,474413,"100,0",Luxembourg,7.2375,0.906912,72.599998,0.905636,-0.004621,0.367084,Western Europe,luxembourg

We are interested to know in what world region the people are happier. 

Create and print a dataframe with the (1) average happiness score and (2) the number of contries for each world region.
Sort the result to show the happiness ranking.

In [9]:
# Write your code here
country_features_h = country_features.set_index(['world_region', 'country_name'])
country_features_h.index

world_regions_features = country_features.groupby(country_features.world_region)

The first region has only a few countries! What are them and what is their score?

In [10]:
# Write your code here

## Task 4: How literate is the world?

Print the name of countries with a level of literacy of 100%. 

For each country, print the name and the world region with the format: *{region name} - {country name} ({happiness score})*

In [11]:
# Write your code here
# check how to print in a beautiful manner

What is the global average?

In [12]:
# Write your code here

Calculate the proportion of countries with a literacy level below 50%. Print the value in percentage, formatted with 2 decimals.

In [13]:
# Write your code here

Print the raw number and the percentage of world population that is illiterate.

In [14]:
# Write your code here

## Task 5: Population density

Add to the dataframe a new field called *population_density* computed by dividing *population* by *area*.

In [15]:
# Write your code here

# apply lambda

What is the happiness score of the 3 countries with lowest population density?

In [16]:
# Write your code here

## Task 6: Healty and happy?

Plot in scatter plot the happiness score (x) and healty life expectancy (y).

In [17]:
# Write your code here

Feel free to continue the exploration of the dataset! We'll release the solutions next week.

----
Enjoy EPFL and be happy, next year Switzerland must be #1.