# Movies database

In [1]:
#!pip install pandas_profiling

In [1]:
import pandas as pd
import numpy as np
import pandas_profiling 
import sweetviz
from datetime import datetime, date, time
from dateutil.parser import parse

DATA_FOLDER = "MovieSummaries/"

## Character metadata .tsv

In [ ]:
character_column_name = ['Wikipedia_movie_ID','Freebase movie ID','Movie release date',
                         'Character name','actor_date_birth','Actor gender','Actor height',
                         'actor_ethnicity','Actor name','actor_age','actor map ID',
                         'Freebase character ID','Freebase actor ID']
df = pd.read_table(DATA_FOLDER  + "character.metadata.tsv", names = character_column_name, sep = '\t')
df.head()
my_report  = sweetviz.analyze([df,'Movie release date'])
my_report.show_html('FinalReport.html')

                                             |                                             | [  0%]   00:00 ->…

In [ ]:
#pandas_profiling.ProfileReport(df)

In [ ]:
df.describe()
df[df.actor_age <= 0]
df.dtypes
df.actor_date_birth
#df.apply((lambda x : parse(x.actor_date_birth)), axis = 1)
parse(df.actor_date_birth.iloc[0])
df.count()/df.Wikipedia_movie_ID.count()*100

## Movie metadata

In [55]:
movie_column_name = ['Wikipedia_movie_ID','Freebase movie ID','movie_name',
                     'movie_release_date','Movie box office revenue',
                     'movie_runtime','Movie languages','Movie countries','MovieGenres']
df2 = pd.read_table(DATA_FOLDER  +"movie.metadata.tsv", sep = '\t', names = movie_column_name)
#pandas_profiling.ProfileReport(df2)
df2.head()
#df2.dtypes
#df2.movie_release_date.apply(lambda d: datetime.strptime(d, '%Y-%m-%d')).head(10)
pd.to_datetime(df2.movie_release_date[:10])
df2.count()/df2.Wikipedia_movie_ID.count()*100
df2.head()

,Wikipedia_movie_ID,Freebase movie ID,movie_name,movie_release_date,Movie box office revenue,movie_runtime,Movie languages,Movie countries,MovieGenres
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}"

In [54]:
my_report  = sweetviz.analyze(df2)
my_report.show_html('FinalReport.html')

                                             |                                             | [  0%]   00:00 ->…

Report FinalReport.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [ ]:
df2.movie_release_date = pd.to_datetime(df2.movie_release_date, errors = 'coerce')
#df2.movie_runtime[:100].plot.hist(bins=10)
#for idx, row in df2.iterrows():
 #   parse(row.movie_release_date)
#df2.movie_release_date.iloc[0]
df2.movie_release_date.count()

In [ ]:

dated_movies = df2[df2.movie_release_date.isnull()==False][['Wikipedia_movie_ID','movie_name','movie_release_date']]
dated_movies.movie_release_date = pd.to_datetime(dated_movies.movie_release_date)
dated_movies.describe(datetime_is_numeric=True)
dated_movies.sort_values("movie_release_date", ascending=True)[100:7000]

In [ ]:
dated_movies[dated_movies.movie_release_date == '1888-01-01']
print(df2.iloc[70978])

In [ ]:
my_report  = sweetviz.analyze(dated_movies)
my_report.show_html('FinalReport.html')

In [ ]:
my_report  = sweetviz.analyze(df2)
my_report.show_html('FinalReport.html')

In [60]:
i = 0
for idx, row in df2.iterrows(): 
    if 'comedy' in row.MovieGenres.lower():
        i = i+1
    #elif 'sci' in row.MovieGenres.lower():
       # i = i+1
print(i)

21696

## Plot Summaries

In [2]:
df3 = pd.read_table(DATA_FOLDER  +"plot_summaries.txt", names = ['Wikipedia_movie_ID', 'film_plot'])
df3.head()

   Wikipedia_movie_ID                                          film_plot
0            23890098  Shlykov, a hard-working taxi driver and Lyosha...
1            31186339  The nation of Panem consists of a wealthy Capi...
2            20663735  Poovalli Induchoodan  is sentenced for six yea...
3             2231378  The Lemon Drop Kid , a New York City swindler,...
4              595909  Seventh-day Adventist Church pastor Michael Ch...

In [ ]:
df3.film_plot
old_film_plot = df3[df3.Wikipedia_movie_ID <=57963]
old_film_plot

In [51]:
df3['WarRelated'] = ''
#'war' in df3.film_plot
#df3.query(['war' in df3.film_plot == True ])
i = 0
for idx, row in df3.iterrows(): 
    if 'world war' in row.film_plot.lower():
        #df3.drop(idx)
        i = i+1
    elif ' war ' in row.film_plot.lower():
        i = i+1
    elif 'hitler' in row.film_plot.lower():
        i = i+1
    elif 'nazi' in row.film_plot.lower():
        i = i+1
#type(' war ' in df3.film_plot[1])

In [52]:
df3.count()
i

3485

## TV tropes

In [ ]:
df4 = pd.read_table(DATA_FOLDER  +"tvtropes.clusters.txt")
df4.head()